._0787ecf44d56591be72b1f2c0e2f2320-scss {
    cursor: pointer;
}

[dir=ltr] .a339f5873501630360d9da0c7938f28b-scss {
    padding-left: 0 !important;
}

[dir=ltr] ._50d97b6270ce5e1b70d300348bc6b80d-scss {
    text-align: center !important;
}

body {
    min-width: auto !important;
    overflow-y: scroll !important;
}

[dir=ltr] ._9811afda86f707ead7da1d12f4dd2d3e-scss {
    margin-left: auto !important;
}

.ec1b5762556429ac3aeedbae72433491-scss {
    width: auto !important;
}

._7effa9d9b3900e9698aa6e0423a1e841-scss[aria-colcount="2"]:not(._98a17d59ea3df3c60b9699a6afe43816-scss) .bddcb131e9b40fa874148a30368d83f8-scss {
    /* grid-template-columns: max-content !important; */
}

.bddcb131e9b40fa874148a30368d83f8-scss {
    grid-gap: 0 !important;
}

.c27f49a483c85a5b88b3f37fb918e497-scss {
    contain: content !important;
}

section._7bf1862b8e096cebdaf4acbcfbec2d4e-scss {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
}

._7effa9d9b3900e9698aa6e0423a1e841-scss {
    border-width: 0 !important;
}

div[role="row"] {
    cursor: pointer;
}
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0;
    display: flex;
    height: 25px;
    width: 95%;
    margin: auto;
}

.progress-value {
    transition: width 1s;
    box-shadow: 0 10px 25px -10px #1DB954;
    border-radius: 100px;
    background: #1DB954;
    height: 25px;
    width: 0;
}

#progressText {
    text-align: center;
    margin: 10px 0 10px;
}


.progressBarContainer {
    margin-top: 5px;
    margin-bottom: 20px;
}

header .fa {
    margin-left: 20px;
    z-index: 999 !important;
}

/* Modal CSS */

* {
    box-sizing: border-box;
}

.iYAZhG {
    animation: 0.3s cubic-bezier(0.3, 0, 0, 1) 0s 1 normal forwards running jBcSpD;
    -webkit-box-align: center;
    align-items: center;
    inset: 0px;
    display: flex;
    position: fixed;
    padding: 24px;
    z-index: 4;
}

.kBpaGs {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    inset: 0px;
    position: fixed;
}

.gMyNDU {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 40px 24px 24px;
  width: 100%;
  max-height: 85%;
  z-index: 1;
}

.eszJbr {
  -webkit-box-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.kYVvhd {
  background-color: rgb(29, 185, 84);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 8px;
}

.jmCZFY {
  margin: 0px 0px 8px;
}

.eszJbr * {
  user-select: none;
}

.dvqtmO {
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
}

.jXHdYP {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 28px;
}

.lejosA {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

.cLdxZC {
  display: inline-block;
  position: relative;
}

.jKeHhf {
  margin-bottom: 8px;
}

.cIqIaE {
  visibility: initial;
}

.eqNKgW {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;
}

.cLdxZC {
  display: inline-block;
  position: relative;
}

.cOmUeQ {
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 24px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 16px 48px;
  text-align: center;
}

.eqNKgW {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-transform: uppercase;
}

.bqwKHo {
  background-color: rgb(29, 185, 84);
  border: 1px solid transparent;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 16px 48px;
  text-align: center;
}

.kZeVeK {
  margin: 0px 0px 20px;
}