[dir=ltr] .a339f5873501630360d9da0c7938f28b-scss {
    padding-left: 0 !important;
}

[dir=ltr] ._50d97b6270ce5e1b70d300348bc6b80d-scss {
    text-align: center !important;
}

body {
    min-width: auto !important;
    overflow-y: scroll !important;
}

[dir=ltr] ._9811afda86f707ead7da1d12f4dd2d3e-scss {
    margin-left: auto !important;
}

.ec1b5762556429ac3aeedbae72433491-scss {
    width: auto !important;
}

._7effa9d9b3900e9698aa6e0423a1e841-scss[aria-colcount="2"]:not(._98a17d59ea3df3c60b9699a6afe43816-scss) .bddcb131e9b40fa874148a30368d83f8-scss {
    grid-template-columns: max-content !important;
}

.bddcb131e9b40fa874148a30368d83f8-scss {
    grid-gap: 0 !important;
}

.c27f49a483c85a5b88b3f37fb918e497-scss {
    contain: content !important;
}

section._7bf1862b8e096cebdaf4acbcfbec2d4e-scss {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
}

._7effa9d9b3900e9698aa6e0423a1e841-scss {
    border-width: 0 !important;
}